@font-face {
    font-family: "ProductSansBlack";
    src: url("../fonts/google-sans-cufonfonts/ProductSans-Black.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


// Variables
$vertClaire : #A6C84F;
$vertFonce : #8DC03F;
$bleu :#1876D1 ;
$rouge :#D32F2F ;
$vert : #388E3C;
$violet : #7B20A2;
$noir : #031927;
$font : "ProductSansBlack";
$fontText: 'Montserrat Alternates';
$coteCarre : 65px;

//couleur nombre
.color1{
    color: $bleu;
    font-family: $font;
}
.color2{
    color: $vert;
    font-family: $font;
}
.color3{
    color: $rouge;
    font-family: $font;
}
.color4{
    color: $violet;
    font-family: $font;
}
.drapeauClique{
    position: absolute;
    height: 260px;
    top: 30vh;
    left: 50%;
    translate: -50%;
}
.drapeauNone{
    display: none;
}
.bombe{
    z-index: 200;
    width: 300px;
    height: 300px;
    background: $noir;
    border-radius: 50%;
    position: fixed;
    opacity: 0;
    transition:opacity 100ms;
    top:50vh;
    left: 50vw;
    transform:translate(-50%, -50%);
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    .chiffreBombe{
        font-size: 250px;
    }
}
.number{
    width: $coteCarre;
    height: $coteCarre;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 30px;
    }
}

body{
    background-color: $noir;
    margin: 0;
    padding: 0;
    .header{
        height: $coteCarre;
    }
    .test{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 1300px;
        border-radius: $coteCarre;
        background-image: url('../images/font-vert.png');
        background-repeat: repeat ;
        .heroBanner{
            position: relative;
            height: 12*$coteCarre;
            width: 100%;
            .bigChiffre{
                position: absolute;
                z-index: 10;
            }
            #bigChiffre1{
                font-size: 380px;
                top:-60px;
                left: 12vw;
                margin: 0;
                transform: rotate(-30deg);
            }
            #bigChiffre2{
                position: absolute;
                font-size: 400px;
                bottom:5vh;
                left: 5vw;
                margin: 0;
                transform: rotate(25deg);
            }
            #bigChiffre3{
                position: absolute;
                font-size: 350px;
                top:-50px;
                right: 5vw;
                margin: 0;
                transform: rotate(-45deg);
            }
            #bigChiffre4{
                position: absolute;
                font-size: 400px;
                bottom:-5vh;
                right: 15vw;
                margin: 0;
                transform: rotate(15deg);
            }
            .gridTitre{
                position: absolute;
                top: 130px;
                left: 325px;
                width: 650px;
                height: 455px;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(7, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                background-image: url('../images/Font-claire.png');
                background-repeat: repeat ;
                //div bloc herbe
                .div1 { grid-area: 7 / 8 / 8 / 9; }
                .div2 { grid-area: 6 / 1 / 7 / 2; }
                .div3 { grid-area: 7 / 1 / 8 / 2; }
                .div4 { grid-area: 7 / 2 / 8 / 3; }
                .div5 { grid-area: 3 / 1 / 4 / 2; }
                .div6 { grid-area: 2 / 1 / 3 / 2; }
                .div7 { grid-area: 1 / 1 / 2 / 2; }
                .div8 { grid-area: 1 / 2 / 2 / 3; }
                .div9 { grid-area: 2 / 2 / 3 / 3; }
                .div10 { grid-area: 1 / 3 / 2 / 4; }
                .div11 { grid-area: 1 / 5 / 2 / 6; }
                .div12 { grid-area: 1 / 4 / 2 / 5; }
                .div13 { grid-area: 1 / 9 / 2 / 10; }
                .div14 { grid-area: 1 / 10 / 2 / 11; }
                .div15 { grid-area: 6 / 9 / 7 / 10; }
                .div16 { grid-area: 7 / 9 / 8 / 10; }
                .div17 { grid-area: 7 / 10 / 8 / 11; }
                .div18 { grid-area: 6 / 10 / 7 / 11; }
                .div19 { grid-area: 6 / 8 / 7 / 9; }
                .div20 { grid-area: 7 / 7 / 8 / 8; }
                .div21 { grid-area: 7 / 6 / 8 / 7; }
                .div23 { grid-area: 5 / 1 / 6 / 2; }
                //div number
                .div24 { grid-area: 4 / 1 / 5 / 2; }
                .div25 { grid-area: 6 / 2 / 7 / 3; }
                .div26 { grid-area: 7 / 3 / 8 / 4; }
                .div27 { grid-area: 7 / 4 / 8 / 5; }
                .div28 { grid-area: 7 / 5 / 8 / 6; }
                .div29 { grid-area: 6 / 5 / 7 / 6; }
                .div30 { grid-area: 6 / 6 / 7 / 7; }
                .div31 { grid-area: 6 / 7 / 7 / 8; }
                .div32 { grid-area: 5 / 8 / 6 / 9; }
                .div33 { grid-area: 5 / 9 / 6 / 10; }
                .div34 { grid-area: 5 / 10 / 6 / 11; }
                .div35 { grid-area: 4 / 10 / 5 / 11; }
                .div36 { grid-area: 3 / 10 / 4 / 11; }
                .div37 { grid-area: 2 / 10 / 3 / 11; }
                .div38 { grid-area: 2 / 9 / 3 / 10; }
                .div39 { grid-area: 2 / 8 / 3 / 9; }
                .div40 { grid-area: 1 / 8 / 2 / 9; }
                .div41 { grid-area: 1 / 7 / 2 / 8; }
                .div42 { grid-area: 1 / 6 / 2 / 7; }
                .div43 { grid-area: 2 / 5 / 3 / 6; }
                .div44 { grid-area: 2 / 4 / 3 / 5; }
                .div45 { grid-area: 2 / 3 / 3 / 4; }
                .div46 { grid-area: 3 / 2 / 4 / 3; }
                .div47 { grid-area: 4 / 2 / 5 / 3; }
                .miniDrapeau{
                    height: 70%;
                }
                .divTitre { 
                    grid-area: 3 / 3 / 6 / 9; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 15px;
                    H1{
                        font-family: $font;
                        font-size: 70px;
                        margin: 0;
                        color: $noir;
                    }
                    H3{
                        font-family: $font;
                        font-size: 30px;
                        margin: 5px;
                        color: $noir;
                    }
                }
            }
            .gridTitreNone{
                display: none;
            }

        }
        .biographie{
            height: 15*$coteCarre;
            width: 50%;
            position: relative;
            margin-bottom: $coteCarre;
            .gridBioNone{
                display: none;
            }
            .gridBio {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(15, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                background-image: url('../images/Font-claire.png');
                background-repeat: repeat ;

                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 2 / 1 / 3 / 2; }
                .div3 { grid-area: 3 / 1 / 4 / 2; }
                .div4 { grid-area: 4 / 1 / 5 / 2; }
                .div5 { grid-area: 5 / 1 / 6 / 2; }
                .div6 { grid-area: 6 / 1 / 7 / 2; }
                .div7 { grid-area: 7 / 1 / 8 / 2; }
                .div8 { grid-area: 11 / 1 / 12 / 2; }
                .div9 { grid-area: 12 / 1 / 13 / 2; }
                .div10 { grid-area: 13 / 1 / 14 / 2; }
                .div11 { grid-area: 14 / 1 / 15 / 2; }
                .div12 { grid-area: 15 / 1 / 16 / 2; }
                .div13 { grid-area: 15 / 2 / 16 / 3; }
                .div14 { grid-area: 14 / 2 / 15 / 3; }
                .div15 { grid-area: 13 / 2 / 14 / 3; }
                .div16 { grid-area: 15 / 3 / 16 / 4; }
                .div17 { grid-area: 15 / 4 / 16 / 5; }
                .div18 { grid-area: 15 / 5 / 16 / 6; }
                .div19 { grid-area: 14 / 5 / 15 / 6; }
                .div20 { grid-area: 15 / 6 / 16 / 7; }
                .div21 { grid-area: 14 / 6 / 15 / 7; }
                .div22 { grid-area: 15 / 7 / 16 / 8; }
                .div23 { grid-area: 14 / 7 / 15 / 8; }
                .div24 { grid-area: 13 / 7 / 14 / 8; }
                .div25 { grid-area: 12 / 8 / 13 / 9; }
                .div26 { grid-area: 13 / 8 / 14 / 9; }
                .div27 { grid-area: 14 / 8 / 15 / 9; }
                .div28 { grid-area: 15 / 8 / 16 / 9; }
                .div29 { grid-area: 15 / 9 / 16 / 10; }
                .div30 { grid-area: 14 / 9 / 15 / 10; }
                .div31 { grid-area: 13 / 9 / 14 / 10; }
                .div32 { grid-area: 12 / 9 / 13 / 10; }
                .div33 { grid-area: 11 / 9 / 12 / 10; }
                .div34 { grid-area: 10 / 9 / 11 / 10; }
                .div35 { grid-area: 9 / 9 / 10 / 10; }
                .div36 { grid-area: 8 / 9 / 9 / 10; }
                .div37 { grid-area: 7 / 9 / 8 / 10; }
                .div38 { grid-area: 6 / 10 / 7 / 11; }
                .div39 { grid-area: 4 / 10 / 5 / 11; }
                .div40 { grid-area: 5 / 10 / 6 / 11; }
                .div41 { grid-area: 3 / 10 / 4 / 11; }
                .div42 { grid-area: 2 / 10 / 3 / 11; }
                .div43 { grid-area: 1 / 10 / 2 / 11; }
                .div44 { grid-area: 1 / 9 / 2 / 10; }
                .div45 { grid-area: 1 / 8 / 2 / 9; }
                .div46 { grid-area: 1 / 7 / 2 / 8; }
                .div47 { grid-area: 1 / 6 / 2 / 7; }
                .div48 { grid-area: 1 / 5 / 2 / 6; }
                .div49 { grid-area: 1 / 4 / 2 / 5; }
                .div50 { grid-area: 1 / 3 / 2 / 4; }
                .div51 { grid-area: 1 / 2 / 2 / 3; }
                .div52 { grid-area: 2 / 2 / 3 / 3; }
                .div53 { grid-area: 3 / 2 / 4 / 3; }
                .div54 { grid-area: 4 / 2 / 5 / 3; }
                .div55 { grid-area: 5 / 2 / 6 / 3; }
                .div56 { grid-area: 2 / 3 / 3 / 4; }
                .div57 { grid-area: 3 / 3 / 4 / 4; }
                .div58 { grid-area: 2 / 4 / 3 / 5; }
                .div59 { grid-area: 2 / 5 / 3 / 6; }
                .div60 { grid-area: 2 / 6 / 3 / 7; }
                .div61 { grid-area: 2 / 7 / 3 / 8; }
                .div62 { grid-area: 2 / 8 / 3 / 9; }
                .div63 { grid-area: 2 / 9 / 3 / 10; }
                .div64 { grid-area: 3 / 9 / 4 / 10; }
                .div65 { grid-area: 7 / 10 / 8 / 11; }
                .div66 { grid-area: 8 / 10 / 9 / 11; }
                .div67 { grid-area: 9 / 10 / 10 / 11; }
                .div68 { grid-area: 10 / 10 / 11 / 11; }
                .div69 { grid-area: 11 / 10 / 12 / 11; }
                .div70 { grid-area: 12 / 10 / 13 / 11; }
                .div71 { grid-area: 13 / 10 / 14 / 11; }
                .div72 { grid-area: 14 / 10 / 15 / 11; }
                .div73 { grid-area: 15 / 10 / 16 / 11; }
                //div number
                .div74 { grid-area: 8 / 1 / 9 / 2; }
                .div75 { grid-area: 9 / 1 / 10 / 2; }
                .div76 { grid-area: 10 / 1 / 11 / 2; }
                .div77 { grid-area: 11 / 2 / 12 / 3; }
                .div78 { grid-area: 12 / 2 / 13 / 3; }
                .div79 { grid-area: 13 / 3 / 14 / 4; }
                .div80 { grid-area: 14 / 3 / 15 / 4; }
                .div81 { grid-area: 14 / 4 / 15 / 5; }
                .div82 { grid-area: 13 / 5 / 14 / 6; }
                .div83 { grid-area: 13 / 6 / 14 / 7; }
                .div84 { grid-area: 12 / 7 / 13 / 8; }
                .div85 { grid-area: 11 / 8 / 12 / 9; }
                .div86 { grid-area: 10 / 8 / 11 / 9; }
                .div87 { grid-area: 9 / 8 / 10 / 9; }
                .div88 { grid-area: 8 / 8 / 9 / 9; }
                .div89 { grid-area: 7 / 8 / 8 / 9; }
                .div90 { grid-area: 6 / 9 / 7 / 10; }
                .div91 { grid-area: 5 / 9 / 6 / 10; }
                .div92 { grid-area: 4 / 9 / 5 / 10; }
                .div93 { grid-area: 3 / 8 / 4 / 9; }
                .div94 { grid-area: 3 / 7 / 4 / 8; }
                .div95 { grid-area: 3 / 6 / 4 / 7; }
                .div96 { grid-area: 3 / 5 / 4 / 6; }
                .div97 { grid-area: 3 / 4 / 4 / 5; }
                .div98 { grid-area: 4 / 3 / 5 / 4; }
                .div99 { grid-area: 6 / 2 / 7 / 3; }
                .div100 { grid-area: 7 / 2 / 8 / 3; }
                .div101 { grid-area: 8 / 2 / 9 / 3; }
                .div102 { grid-area: 5 / 3 / 6 / 4; }
                .titreBio { 
                    grid-area: 4 / 4 / 6 / 9;
                    display: flex;
                    justify-content: center;
                    align-items:center; 
                }
                .textBio{
                    grid-area: 6 / 3 / 12 / 8;
                }     
                h3{
                    font-family: $font;
                    font-size: 50px;
                    margin: 0;
                    color: $noir;
                }
                p{
                    font-family: $fontText;
                    font-size: 16px;
                    color: $noir;
                    text-align: center;
                }
            }
        }
        .techno{
            height: 15*$coteCarre;
            width: 50%;
            position: relative;
            margin-bottom: $coteCarre;
            .technoGridNone{
                display: none;
            }
            .technoGrid {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(15, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                background-image: url('../images/Font-claire.png');
                background-repeat: repeat ;
                }
                
                .div1 { grid-area: 4 / 2 / 5 / 3; }
                .div2 { grid-area: 5 / 2 / 6 / 3; }
                .div3 { grid-area: 6 / 2 / 7 / 3; }
                .div4 { grid-area: 7 / 2 / 8 / 3; }
                .div5 { grid-area: 8 / 2 / 9 / 3; }
                .div6 { grid-area: 9 / 2 / 10 / 3; }
                .div7 { grid-area: 9 / 3 / 10 / 4; }
                .div8 { grid-area: 10 / 3 / 11 / 4; }
                .div9 { grid-area: 11 / 3 / 12 / 4; }
                .div10 { grid-area: 12 / 4 / 13 / 5; }
                .div11 { grid-area: 13 / 5 / 14 / 6; }
                .div12 { grid-area: 14 / 5 / 15 / 6; }
                .div13 { grid-area: 15 / 6 / 16 / 7; }
                .div14 { grid-area: 9 / 10 / 10 / 11; }
                .div15 { grid-area: 8 / 10 / 9 / 11; }
                .div16 { grid-area: 7 / 10 / 8 / 11; }
                .div17 { grid-area: 6 / 10 / 7 / 11; }
                .div18 { grid-area: 5 / 10 / 6 / 11; }
                .div19 { grid-area: 4 / 10 / 5 / 11; }
                .div20 { grid-area: 3 / 9 / 4 / 10; }
                .div21 { grid-area: 2 / 8 / 3 / 9; }
                .div22 { grid-area: 2 / 7 / 3 / 8; }
                .div23 { grid-area: 1 / 6 / 2 / 7; }
                .div24 { grid-area: 1 / 5 / 2 / 6; }
                .div25 { grid-area: 1 / 4 / 2 / 5; }
                .div26 { grid-area: 2 / 3 / 3 / 4; }
                .div27 { grid-area: 3 / 3 / 4 / 4; }
                .div28 { grid-area: 15 / 7 / 16 / 8; }
                .div29 { grid-area: 15 / 8 / 16 / 9; }
                .div30 { grid-area: 15 / 9 / 16 / 10; }
                .div31 { grid-area: 14 / 9 / 15 / 10; }
                .div32 { grid-area: 13 / 10 / 14 / 11; }
                .div33 { grid-area: 12 / 10 / 13 / 11; }
                .div34 { grid-area: 11 / 10 / 12 / 11; }
                .div35 { grid-area: 10 / 10 / 11 / 11; }

                .div36 { grid-area: 1 / 1 / 2 / 2; }
                .div37 { grid-area: 3 / 1 / 4 / 2; }
                .div38 { grid-area: 5 / 1 / 6 / 2; }
                .div39 { grid-area: 7 / 1 / 8 / 2; }
                .div40 { grid-area: 9 / 1 / 10 / 2; }
                .div41 { grid-area: 11 / 1 / 12 / 2; }
                .div42 { grid-area: 13 / 1 / 14 / 2; }
                .div43 { grid-area: 15 / 1 / 16 / 2; }
                .div44 { grid-area: 14 / 2 / 15 / 3; }
                .div45 { grid-area: 15 / 3 / 16 / 4; }
                .div46 { grid-area: 14 / 4 / 15 / 5; }
                .div47 { grid-area: 15 / 5 / 16 / 6; }
                .div48 { grid-area: 13 / 3 / 14 / 4; }
                .div49 { grid-area: 12 / 2 / 13 / 3; }
                .div50 { grid-area: 10 / 2 / 11 / 3; }
                .div51 { grid-area: 2 / 2 / 3 / 3; }
                .div52 { grid-area: 1 / 3 / 2 / 4; }
                .div53 { grid-area: 1 / 7 / 2 / 8; }
                .div54 { grid-area: 1 / 9 / 2 / 10; }
                .div55 { grid-area: 2 / 10 / 3 / 11; }
                .div56 { grid-area: 14 / 10 / 15 / 11; }

                .div57 { grid-area: 15 / 10 / 16 / 11; }
                .div58 { grid-area: 15 / 4 / 16 / 5; }
                .div59 { grid-area: 13 / 4 / 14 / 5; }
                .div60 { grid-area: 12 / 3 / 13 / 4; }
                .div61 { grid-area: 15 / 2 / 16 / 3; }
                .div62 { grid-area: 14 / 3 / 15 / 4; }
                .div63 { grid-area: 13 / 2 / 14 / 3; }
                .div64 { grid-area: 14 / 1 / 15 / 2; }
                .div65 { grid-area: 12 / 1 / 13 / 2; }
                .div66 { grid-area: 11 / 2 / 12 / 3; }
                .div67 { grid-area: 10 / 1 / 11 / 2; }
                .div68 { grid-area: 8 / 1 / 9 / 2; }
                .div69 { grid-area: 6 / 1 / 7 / 2; }
                .div70 { grid-area: 4 / 1 / 5 / 2; }
                .div71 { grid-area: 2 / 1 / 3 / 2; }
                .div72 { grid-area: 1 / 2 / 2 / 3; }
                .div73 { grid-area: 3 / 2 / 4 / 3; }
                .div74 { grid-area: 1 / 8 / 2 / 9; }
                .div75 { grid-area: 2 / 9 / 3 / 10; }
                .div76 { grid-area: 1 / 10 / 2 / 11; }
                .div77 { grid-area: 3 / 10 / 4 / 11; }
                .titreTechno{
                    grid-area: 3 / 4 / 5 / 9;
                    display: flex;
                    justify-content: center;
                    align-items:center; 
                    h3{
                        font-family: $font;
                        font-size: 50px;
                        margin: 0;
                        color: $noir;
                    }
                }
                .iconTech{
                    position: absolute;
                    width: 1.2 * $coteCarre;
                    height: 1.2 * $coteCarre;
                }  
                #php{
                    bottom: 120px;
                    left: 55%;
                } 
                #html{
                    top: 320px;
                    left: 20%;
                } 
                #symfony{
                    top: 430px;
                    right: 15%;
                } 
                #laravel{
                    top: 275px;
                    right: 40%;
                } 
                #js{
                    bottom: 275px;
                    right: 12%;
                } 
                #vue{
                    bottom: 250px;
                    left: 45%;
                } 
                #node{
                    bottom: 430px;
                    left: 40%;
                } 
                #css{
                    top: 260px;
                    right: 15%;
                } 


        }
    }
}
.vertFoncer{
    background-color: $vertFonce;
    height: $coteCarre;
    width: $coteCarre;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertClaire{
    background-color: $vertClaire;
    height: $coteCarre;
    width: $coteCarre;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media only screen and (min-width: 500px) {
    .mobile{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .bombe{
        display: none;
    }
    .pc{
        display: none;
    }
    
    body{
        .header{
            display: none;
        }
        .test{
            width: 100vw;
           border-radius: 0;
            background-image: url('../images/font-vert.png');
            background-repeat: repeat ;
            .heroBanner{
                width: 100%;
                #bigChiffre1mobile{
                    font-size: 180px;
                    top:20px;
                    left: 12vw;
                    margin: 0;
                    transform: rotate(30deg);
                }
                #bigChiffre2mobile{
                    position: absolute;
                    font-size: 100px;
                    bottom:5vh;
                    left: 5vw;
                    margin: 0;
                    transform: rotate(25deg);
                }
                #bigChiffre3mobile{
                    position: absolute;
                    font-size: 150px;
                    top:50px;
                    right: 11vw;
                    margin: 0;
                    transform: rotate(-30deg);
                }
                #bigChiffre4mobile{
                    position: absolute;
                    font-size: 100px;
                    bottom:-5vh;
                    right: 15vw;
                    margin: 0;
                    transform: rotate(15deg);
                }
                .gridTitre{
                    width: 100%;
                    height: 520px;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(8, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    left: 0;
                    .div24 { grid-area: 3 / 1 / 4 / 2; }
                    .div25 { grid-area: 2 / 1 / 3 / 2; }
                    .div26 { grid-area: 2 / 2 / 3 / 3; }
                    .div27 { grid-area: 1 / 2 / 2 / 3; }
                    .div28 { grid-area: 1 / 3 / 2 / 4; }
                    .div29 { grid-area: 1 / 4 / 2 / 5; }
                    .div30 { grid-area: 1 / 5 / 2 / 6; }
                    .div31 { grid-area: 2 / 6 / 3 / 7; }
                    .div32 { grid-area: 6 / 6 / 7 / 7; }
                    .div33 { grid-area: 7 / 5 / 8 / 6; }
                    .div34 { grid-area: 8 / 5 / 9 / 6; }
                    .div35 { grid-area: 8 / 4 / 9 / 5; }
                    .div36 { grid-area: 8 / 3 / 9 / 4; }
                    .div38 { grid-area: 7 / 2 / 8 / 3; }
                    .div39 { grid-area: 6 / 1 / 7 / 2; }
                    .div40 { grid-area: 5 / 1 / 6 / 2; }
                    .div42 { grid-area: 5 / 6 / 6 / 7; }
                    .div43 { grid-area: 4 / 6 / 5 / 7; }
                    .div44 { grid-area: 3 / 6 / 4 / 7; }
                    .div45 { grid-area: 4 / 1 / 5 / 2; }

                    .div1 { grid-area: 1 / 1 / 2 / 2; }
                    .div2 { grid-area: 7 / 1 / 8 / 2; }
                    .div7 { grid-area: 8 / 1 / 9 / 2; }
                    .div6 { grid-area: 8 / 6 / 9 / 7; }
                    .div3 { grid-area: 1 / 6 / 2 / 7; }
                    .div8 { grid-area: 8 / 2 / 9 / 3; }
                    .div5 { grid-area: 7 / 6 / 8 / 7; }

                

                    .div4{display: none;}
                    .div9 { display: none; }
                    .div10{ display: none; }
                    .div37{ display: none;}
                    .div11{ display: none;}
                    .div12{ display: none;}
                    .div13{ display: none;}
                    .div14{ display: none;}
                    .div15{ display: none;}
                    .div16{ display: none;}
                    .div17{ display: none;}
                    .div18{ display: none;}
                    .div19{ display: none;}
                    .div20{ display: none;}
                    .div21{ display: none;}
                    .div23{ display: none;}
                    .div41{ display: none;}
                    .div46{ display: none;}
                    .div47{ display: none;}
                    .divTitre { 
                        grid-area: 3 / 2 / 6 / 6; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 5px;
                        H1{
                            font-family: $font;
                            font-size: 45px;
                            margin: 0;
                            color: $noir;
                        }
                        H3{
                            font-family: $font;
                            font-size: 20px;
                            margin: 5px;
                            color: $noir;
                        }
                    }
                }
            }
            .biographie{
                width: 100%;
                .gridBio {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(14, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    width: 100%;
                    height: 845px;
                    .div80 { grid-area: 1 / 3 / 2 / 4; }
                    .div81 { grid-area: 2 / 2 / 3 / 3; }
                    .div82 { grid-area: 3 / 1 / 4 / 2; }
                    .div83 { grid-area: 5 / 1 / 6 / 2; }
                    .div84 { grid-area: 4 / 1 / 5 / 2; }
                    .div85 { grid-area: 6 / 1 / 7 / 2; }
                    .div86 { grid-area: 13 / 1 / 14 / 2; }
                    .div87 { grid-area: 14 / 1 / 15 / 2; }
                    .div88 { grid-area: 14 / 2 / 15 / 3; }
                    .div89 { grid-area: 14 / 4 / 15 / 5; }
                    .div90 { grid-area: 14 / 5 / 15 / 6; }
                    .div91 { grid-area: 13 / 5 / 14 / 6; }
                    .div92 { grid-area: 12 / 5 / 13 / 6; }
                    .div93 { grid-area: 11 / 6 / 12 / 7; }
                    .div94 { grid-area: 10 / 6 / 11 / 7; }
                    .div95 { grid-area: 9 / 6 / 10 / 7; }
                    .div96 { grid-area: 8 / 6 / 9 / 7; }
                    .div97 { grid-area: 1 / 5 / 2 / 6; }
                    .div98 { grid-area: 1 / 4 / 2 / 5; }
                    .div99 { grid-area: 14 / 3 / 15 / 4; }
                    .div100 { grid-area: 2 / 6 / 3 / 7; }
                    .div69 { grid-area: 1 / 6 / 2 / 7; }
                    .div70 { grid-area: 13 / 6 / 14 / 7; }
                    .div71 { grid-area: 1 / 2 / 2 / 3; }
                    .div72 { grid-area: 1 / 1 / 2 / 2; }
                    .div73 { grid-area: 2 / 1 / 3 / 2; }
                    .div67 { grid-area: 14 / 6 / 15 / 7; }
                    .div65 { grid-area: 12 / 6 / 13 / 7; }
                    .titreBio { grid-area: 3 / 2 / 5 / 7; }
                    .para{
                        margin: 0;
                        padding: 5px;
                        font-size: 14px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .para1 { grid-area: 5 / 2 / 7 / 7; }
                    .para2 { grid-area: 8 / 1 / 11 / 6; }
                    .para3 { grid-area: 11 / 1 / 13 / 5; }



                    .div101{ display: none;}
                    .div102{ display: none;}
                    .div1 { display: none; }
                    .div2 { display: none; }
                    .div3 { display: none; }
                    .div4 { display: none; }
                    .div5 { display: none; }
                    .div6 { display: none; }
                    .div7 { display: none; }
                    .div8 { display: none; }
                    .div9 { display: none; }
                    .div10 { display: none; }
                    .div11 { display: none; }
                    .div12 { display: none; }
                    .div13 { display: none; }
                    .div14 { display: none; }
                    .div15 { display: none; }
                    .div16 { display: none; }
                    .div17 { display: none; }
                    .div18 { display: none; }
                    .div19 { display: none; }
                    .div20 { display: none; }
                    .div21 { display: none; }
                    .div22 { display: none; }
                    .div23 { display: none; }
                    .div24 { display: none; }
                    .div25 { display: none; }
                    .div26 { display: none; }
                    .div27 { display: none; }
                    .div28 { display: none; }
                    .div29 { display: none; }
                    .div30 { display: none; }
                    .div31 { display: none; }
                    .div32 { display: none; }
                    .div33 { display: none; }
                    .div34 { display: none; }
                    .div35 { display: none; }
                    .div36 { display: none; }
                    .div37 { display: none; }
                    .div38 { display: none; }
                    .div39 { display: none; }
                    .div40 { display: none; }
                    .div41 { display: none; }
                    .div42 { display: none; }
                    .div43 { display: none; }
                    .div44 { display: none; }
                    .div45 { display: none; }
                    .div46 { display: none; }
                    .div47 { display: none; }
                    .div48 { display: none; }
                    .div49 { display: none; }
                    .div50 { display: none; }
                    .div51 { display: none; }
                    .div52 { display: none; }
                    .div53 { display: none; }
                    .div54 { display: none; }
                    .div55 { display: none; }
                    .div56 { display: none; }
                    .div57 { display: none; }
                    .div58 { display: none; }
                    .div59 { display: none; }
                    .div60 { display: none; }
                    .div61 { display: none; }
                    .div62 { display: none; }
                    .div63 { display: none; }
                    .div64 { display: none; }
                    .div66 { display: none; }
                    .div68 { display: none; }
                    //div number
                    .div74 { display: none; }
                    .div75 { display: none; }
                    .div76 { display: none; }
                    .div77 { display: none; }
                    .div78 { display: none; }
                    .div79 { display: none; }
                }
            }
            .techno{
                width: 100%;
                .technoGrid{
                    
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(20, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    width: 100%;
                    height: 20*$coteCarre; 
                        
                    // color
                    .div57 { grid-area: 1 / 4 / 2 / 5; }
                    .div56 { grid-area: 1 / 5 / 2 / 6; }
                    .div58 { grid-area: 1 / 6 / 2 / 7; }
                    .div55 { grid-area: 2 / 6 / 3 / 7; }
                    .div54 { grid-area: 19 / 1 / 20 / 2; }
                    .div59 { grid-area: 20 / 1 / 21 / 2; }
                    .div53 { grid-area: 20 / 2 / 21 / 3; }
                    .div60 { grid-area: 20 / 3 / 21 / 4; }
                    .div52 { grid-area: 20 / 4 / 21 / 5; }
                    

                    //number
                    .div1 { grid-area: 1 / 1 / 2 / 2; }
                    .div2 { grid-area: 1 / 2 / 2 / 3; }
                    .div3 { grid-area: 1 / 3 / 2 / 4; }
                    .div4 { grid-area: 2 / 4 / 3 / 5; }
                    .div5 { grid-area: 2 / 5 / 3 / 6; }
                    .div6 { grid-area: 3 / 6 / 4 / 7; }
                    .div7 { grid-area: 4 / 6 / 5 / 7; }
                    .div8 { grid-area: 5 / 6 / 6 / 7; }
                    .div9 { grid-area: 18 / 1 / 19 / 2; }
                    .div10 { grid-area: 17 / 1 / 18 / 2; }
                    .div11 { grid-area: 19 / 2 / 20 / 3; }
                    .div12 { grid-area: 20 / 5 / 21 / 6; }
                    .div13 { grid-area: 20 / 6 / 21 / 7; }
                    .div14 { grid-area: 19 / 3 / 20 / 4; }
                    .div15 { grid-area: 19 / 4 / 20 / 5; }

                    // div a enlever
                    
                    .div16 { display: none; }
                    .div17 { display: none; }
                    .div18 { display: none; }
                    .div19 { display: none; }
                    .div20 { display: none; }
                    .div21 { display: none; }
                    .div22 { display: none; }
                    .div23 { display: none; }
                    .div24 { display: none; }
                    .div25 { display: none; }
                    .div26 { display: none; }
                    .div27 { display: none; }
                    .div28 { display: none; }
                    .div29 { display: none; }
                    .div30 { display: none; }
                    .div31 { display: none; }
                    .div32 { display: none; }
                    .div33 { display: none; }
                    .div34 { display: none; }
                    .div35 { display: none; }
                    .div36 { display: none; }
                    .div37 { display: none; }
                    .div38 { display: none; }
                    .div39 { display: none; }
                    .div40 { display: none; }
                    .div41 { display: none; }
                    .div42 { display: none; }
                    .div43 { display: none; }
                    .div44 { display: none; }
                    .div45 { display: none; }
                    .div46 { display: none; }
                    .div47 { display: none; }
                    .div48 { display: none; }
                    .div49 { display: none; }
                    .div50 { display: none; }
                    .div51 { display: none; }
                    
                    .div61 { display: none; }
                    .div62 { display: none; }
                    .div63 { display: none; }
                    .div64 { display: none; }
                    .div65 { display: none; }
                    .div66 { display: none; }
                    .div67 { display: none; }
                    .div68 { display: none; }
                    .div69 { display: none; }
                    .div70 { display: none; }
                    .div71 { display: none; }
                    .div72 { display: none; }
                    .div73 { display: none; }
                    .div74 { display: none; }
                    .div75 { display: none; }
                    .div76 { display: none; }
                    .div77 { display: none; }
                    .div78 { display: none; }
                    .div79 { display: none; }

                    .titreTechno { grid-area: 3 / 1 / 5 / 6; }
                    
                    .iconTech{
                        width: 2 * $coteCarre;
                        height: 2 * $coteCarre;
                    }  
                    #php{
                        bottom: -144px;
                        left: 55%;
                    } 
                    #html{
                        top: 273px;
                        left: 5%;
                    } 
                    #symfony{
                        top: 472px;
                        right: 55%;
                    } 
                    #laravel{
                        top: 552px;
                        right: 15%;
                    } 
                    #js{
                        bottom: 50px;
                        right: 12%;
                    } 
                    #vue{
                        bottom: 24px;
                        left: 10%;
                    } 
                    #node{
                        bottom: 200px;
                        left: 20%;
                    } 
                    #css{
                        top: 352px;
                        right: 15%;
                    } 
                
                }
            }
        }
    }
}
